body {
    font-family: "Helvetica";
    font-size: 18px;
    color: black;
    text-align: center;
}

#title {
    font-family: "Undella";
    font-size: 300px;
    font-weight: 600;
    color: white;
    text-align: center;
    background-image: url("cocktail-bg2.jpg");
    width: 100%;
    height: 400px;
    background-position: center top;
    background-size: cover;
}

/*recipe design*/

#drink {
    filter: drop-shadow(0px 10px 10px gray);
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

#recipe-title {
    font-family: "Undella";
    font-size: 56px;
    font-weight: bold;
    color: black;
    margin-bottom: 8px;
}

#icon-t, #icon-s {
    margin-right: 8px;
    height:20px;
    width: 20px;
}

#prep_time, #serving {
    font-family: "Marvel";
    font-size: 15px;
    color: black;
    margin-right: 10px;
}

#ingredients-header {
    font-family: "Marvel";
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-bottom: 5px;
}

.ingredients {
    font-family: "BenchNine";
    font-size: 18px;
    color: black;
}

#steps-header {
    font-family: "Marvel";
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 7px;
}

.steps {
    font-family: "BenchNine"; 
    font-size: 20px;
    color: black;
    margin-top: 3px;
    margin-bottom: 3px;
}

.recipe-card {
    display: inline-grid;
    width: 800px;
    grid-template-columns: 1fr;
    background-color: #9b2c2c;
    opacity: 0.83;
    border-radius: 15px;
    align-items: center;
}

.recipe-content {
    border-radius: 15px;
    padding: 28px;
    color: black;
    background-color: white;
    background-image: url("overlay1.png");
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    margin: 20px;
}

#recipe_link {
    font-family: Serif;
    font-size: 10px;
    font-style: italic;
    color: gray;
    margin-top: 30px;
}


/*tweet design*/
#tweet-header {
    font-family: "Marvel";
    font-size: 27px;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-bottom: 5px;
}

#name, #user {
    font-size: 14px;
    text-align: center;
    font-family: "Roboto Condensed";
    text-align: left;
    
}

#text {
    font-size: 13px;
    font-family: "Roboto Mono";
    margin-top: 15px;
}

#time {
    font-size: 12px;
    font-family: "Roboto Condensed";
    text-align: center;
    margin-bottom: 10px;
}

.grid {
    display: inline-grid;
    width: 100%;
    grid-template-columns: 1fr  1fr 1fr;
    grid-gap: 25px;
    background-color: #9b2c2c;
    opacity: 0.93;
    padding: 55px;
    margin-top: 100px;
    align-items: center;
}

.tweet {
    border-radius: 15px;
    height: 200px;
    width: 300px;
    padding: 28px;
    color: black;
    background-color: white;
    background-image: url("overlay1.png");
    background-position: center;
    background-size: cover;
    align-items: center;
}