@import url('https://fonts.googleapis.com/css?family=Amatic SC');
@import url('https://fonts.googleapis.com/css?family=Carrois Gothic SC');
@import url("https://fonts.googleapis.com/css?family=Lover's Quarrel");
@import url('https://fonts.googleapis.com/css?family=Overpass');
@import url('https://fonts.googleapis.com/css?family=Stalemate');
@import url("https://fonts.googleapis.com/css?family=Abel");

@import url('https://fonts.googleapis.com/css?family=BenchNine');
@import url("https://fonts.googleapis.com/css?family=Karla|Stint Ulta Condensed");
@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://fonts.googleapis.com/css?family=Marvel|Bubbler One');
@import url('https://fonts.googleapis.com/css?family=Noto Sans TC');
@import url("https://fonts.googleapis.com/css?family=Share Tech Mono");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
    font-family: "Helvetica";
    font-size: 18px;
    color: black;
    text-align: center;
}

#title {
    font-family: "Rubik Mono One";
    font-size: 110px;
    font-weight: 400;
    color: white;
    background-image: url("cocktail-bg.jpg");
    opacity: .92;
    background-position: center top;
    background-size: cover;
    padding: 200px;
}

/*recipe design*/

#drink {
    filter: drop-shadow(8px 8px 10px gray);
    border-radius: 15px;
    margin-bottom: 18px;
}

#recipe {
    font-family: "Overpass";
    font-size: 65px;
    font-weight: bold;
    color: black;
}

#prep_time, #serving {
    font-family: "Marvel";
    font-size: 18px;
    color: black;
}

#ingredients-header {
    font-family: "Quicksand";
    font-size: 27px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-bottom: 7px;
}

.ingredients {
    font-family: "BenchNine";
    font-size: 24px;
    color: black;
}

.steps {
    font-family: "Hind";
    font-size: 24px;
    color: black;
    margin-top: 45px;
    margin-bottom: 75px;
}


/*tweet design*/

#name, #user {
    font-size: 18px;
    text-align: center;
    font-family: "Josefin Slab";
}

#text {
    font-size: 25px;
    font-family: "Caveat Brush";
}

#time {
    font-size: 13px;
    font-family: "Roboto Condensed";
}

.grid {
    display: inline-grid;
    height: 600px;
    width: 1200px;
    grid-template-columns: 1fr  1fr 1fr;
    grid-gap: 25px;
    background-color: #9b2c2c;
    opacity: 0.93;
    padding: 55px;  
}

.tweet {
    border-radius: 15px;
    padding: 28px;
    color: black;
    background-color: white;
    background-image: url("overlay1.png");
    background-position: center;
    background-size: cover;
}