<html>
    <head>
        <title>Sippin'</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Condensed">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Marvel">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=BenchNine">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
        <link rel="stylesheet" href={{ url_for("static", filename="style-tweet.css") }}>
        <link rel="stylesheet" href={{ url_for("static", filename="undella.ttf") }}>
    </head>
    
    <body>
        <div id="title">Sippin'</div>
        <form method="GET">
            <label for="search"></label>
                <input type="text" id="search" name="search" placeholder="Enter cocktail">
                <input type="submit" value="go">
        </form>
        {% if totalResults == 0 %}
            <div id="else">Cannot find the {{ query }}. Try <b>margarita</b>, <b>whiskey sour</b>, or <b>mojito</b></div>
        {% else %}
        <div class="recipe-card">
            <div class="recipe-content">
                <div id="recipe-title">{{ title }}</div>
                
                <img id="drink" height="365px" width="365px" src="{{image}}"/>
                    <span id="prep_time"><img id="icon-t" src="./static/time.png" />{{ prep_time }} mins</span>
                    <span id="serving"> <img id="icon-s" src="./static/serving.png" />{{ serving }} servings</span>
                
                <div id="ingredients-header">What You Need</div>
                {% for item in ingredients %}
                    <div class="ingredients">
                            {{ item }}
                    </div>
                {%endfor%}
                
                <div id="steps-header">How To</div>
                {% for step in steps %}
                    <div class="steps">
                            {{ step }}
                    </div>
                {%endfor%}
                <div id="recipe_link">source: <a href="{{link}}">{{link}}</a></div>
            </div>
        </div>    
            <div id="tweet-header">What They Think</div>
            <div class="grid">
                {% for i in range(0, name_len) %} 
                    <div class="tweet">
                        <img src="./static/tweet-logo.jpg" style="float:left; height:24px; width:24px; opacity: 0.93;"/><br>
                        <div id="text">{{ text_list[i] }}</div><br>
                        <div id="time">{{ time_list[i] }}</div>
                        <div id="name">{{ name_list[i] }}</div>
                        <div id="user">@{{ user_list[i] }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>