<html>
    <head>
        <title>Cocktail Tweets</title>
        <!--list fonts here-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat Brush">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Condensed">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin Slab">
        
        <link rel="stylesheet" href={{ url_for("static", filename="style-tweet.css") }} >
        <!--<link rel="stylesheet" href="./static/style-tweet.css">-->
        
    </head>
    <body>
        <h1 id="title">Tweets about Cocktails</h1>
        
        <form method="GET">
          <label for="search"></label>
              <input type="text" id="search" name="search" placeholder="Enter keyword">
              <input type="submit" value="go">
        </form>
        
        <div class="grid">
            {% for i in range(0, name_len) %} 
                <div class="tweet">
                    <div id="name">{{ name_list[i] }}</div>
                    <div id="user">@{{ user_list[i] }}</div><br>
                    <div id="text">"{{ text_list[i] }}"</div><br>
                    <div id="time">{{ time_list[i] }}</div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>
